<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.jboss.mapper.eclipse.DozerMappingWizard"
            icon="icons/transform16.png"
            id="org.jboss.mapper.eclipse.dozer-mapping-wizard"
            name="%dozer-mapping-wizard.name">
      </wizard>
      <wizard
            class="org.jboss.mapper.eclipse.DataMappingWizard"
            icon="icons/transform16.png"
            id="org.jboss.mapper.eclipse.data-mapping-wizard"
            name="%data-mapping-wizard.name">
      </wizard>
      <primaryWizard
            id="org.jboss.mapper.eclipse.data-mapping-wizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.mapper.eclipse.DozerConfigContentTypeDescriber"
            file-extensions="xml"
            id="org.jboss.mapper.eclipse.dozer-config-content-type"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.mapper.eclipse.DataMapperEditor"
            contributorClass="org.jboss.mapper.eclipse.DataMapperEditorContributor"
            default="false"
            extensions="xml"
            icon="icons/transform16.png"
            id="org.jboss.mapper.eclipse.data-mapper-editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.jboss.mapper.eclipse.dozer-config-content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.mapper.eclipse.handlers.DeleteMappingHandler"
            commandId="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.jboss.mapper.eclipse.menus.top"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand"
                  id="org.jboss.mapper.eclipse.menus.sampleCommand"
                  mnemonic="%command.mnemonic">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.jboss.mapper.eclipse.toolbars.editorToolbar">
            <command
                  commandId="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand"
                  icon="icons/sample.gif"
                  id="org.jboss.mapper.eclipse.toolbars.deleteFieldMapping"
                  tooltip="%command.tooltip">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:dm_viewer_popupmenu">
         <command
               commandId="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.jboss.mapper.eclipse.commands.category"
            name="%command.category.name">
      </category>
      <command
            categoryId="org.jboss.mapper.eclipse.commands.category"
            id="org.jboss.mapper.eclipse.commands.deleteFieldMappingCommand"
            name="%command.name">
      </command>
   </extension>
</plugin>
